/* inter-google-font */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* share related style */
.navbar,
.hero-area {
    max-width: 1060px;
    margin: auto;
}

.display-flex {
    display: flex;
}

.btn-primary {
    background-color: #E6533C;
    color: #fff;
    font-size: 1.02rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #000;
    color: #fff;
    font-size: 1.02rem;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;

}
/* .section-description{
    color: rgba(255, 255, 255, 0.5);
} */

/* navbar related style */
.navbar {
    align-items: center;
    justify-content: space-between;
}

.brand-name {
    font-size: 2.02rem;
    font-weight: 800;
    color: #E6533C;
}

.menu {
    list-style: none;

}

.link {
    text-decoration: none;
    font-size: 1.02rem;
    font-weight: 600;
    color: #000;
    margin-right: 47px;
    padding: 8px 20px;
}

.link:hover {
    background-color: #E6533C;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 1.02rem;
    font-weight: 600;
}

/* hero-section-style */
.hero-area {
    align-items: center;
    gap: 80px;
}
.hero-container{
    gap: 90px;
}
.hero-article {
    max-width: 525px;
}

.hero-title {
    font-size: 4.4rem;
    font-weight: 800;
}
.point{
    width: 30px;
    height: 30px;
    background-color: #E6533C;
    border-radius: 50%;
}
#btn-bg{
    align-items: center;
    max-width: 170px;
    background-color: rgba(48, 48, 48, 0.54); 
    margin-top: -150px;
    border-radius: 12px;
    border: none;
    filter: blur(0.5px);
}

.hero-badge{
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-left: -70px;
    margin-top: -100px;
    position: absolute;
    z-index: 1;
}
 .hero-badge-02{
    max-width: 110px;
    background-color: rgba(48, 48, 48, 0.54); 
    margin-top: 150px;
    margin-left: 240px;
     padding: 10px 20px; 
    border-radius: 12px;
    border: none;
    filter: blur(0.5px);
    position: absolute;
    z-index: 1;
} 
#btn-bg-02{
    align-items: center;
    max-width: 170px;
    background-color: rgba(48, 48, 48, 0.54); 
    border-radius: 12px;
    border: none;
    filter: blur(0.5px);
}
.image{
    position: relative;
}
#recoded-number{
    color: #fff;
    font-size: 1.02rem;
    font-weight: 900;
}
.upload-number{
    font-size: 2.06rem;
    font-weight: 900;
    color: #fff;
}
.media{
    color: rgba(239, 237, 232, 0.65);
    font-size: 0.8rem;
}